<h4>X11</h4><!-- xkcd -->
<img class="stretch" src="http://imgs.xkcd.com/comics/x11.png" title="Thomas Jefferson thought that every law and every constitution should be torn down and rewritten from scratch every nineteen years--which means X is overdue." alt="X11">
<p class="center"><a href="http://xkcd.com/963/">xkcd # 963</a></p>

<h4>Substitute</h4><!-- xkcd -->
<img class="stretch" src="http://imgs.xkcd.com/comics/substitute.png" title="YOU THINK THIS IS FUNNY?" alt="Substitute">
<p class="center"><a href="http://xkcd.com/135/">xkcd # 135</a></p>

<h4>Outbreak</h4><!-- xkcd -->
<img class="stretch" src="http://imgs.xkcd.com/comics/outbreak.png" title="Let&#39;s get dinner after we promptly destroy all the X-7 we&#39;ve manufactured." alt="Outbreak">
<p class="center"><a href="http://xkcd.com/734/">xkcd # 734</a></p>



<h4>Merlin</h4><!-- xkcd -->
<img class="stretch" src="http://imgs.xkcd.com/comics/merlin.png" title="I mean, the black-and-white stuff was running backward, but it hardly mattered to the story." alt="Merlin">
<p class="center"><a href="http://xkcd.com/270/">xkcd # 270</a></p>

<h4>NP-Complete</h4><!-- xkcd -->
<img class="stretch" src="http://imgs.xkcd.com/comics/np_complete.png" title="General solutions get you a 50% tip." alt="NP-Complete">
<p class="center"><a href="http://xkcd.com/287/">xkcd # 287</a></p>

<h4>Pillow Talk</h4><!-- xkcd -->
<img class="stretch" src="http://imgs.xkcd.com/comics/pillow_talk.jpg" title="Maybe I should&#39;ve tried Wexler?" alt="Pillow Talk">
<p class="center"><a href="http://xkcd.com/69/">xkcd # 69</a></p>

<h4>Travelling Salesman Problem</h4><!-- xkcd -->
<img class="stretch" src="http://imgs.xkcd.com/comics/travelling_salesman_problem.png" title="What&#39;s the complexity class of the best linear programming cutting-plane techniques?  I couldn&#39;t find it anywhere.  Man, the Garfield guy doesn&#39;t have these problems ..." alt="Travelling Salesman Problem">
<p class="center"><a href="http://xkcd.com/399/">xkcd # 399</a></p>

<h4>Dependencies</h4><!-- xkcd -->
<img class="stretch" src="http://imgs.xkcd.com/comics/dependencies.png" title="The prereqs for CPSC 357, the class on package management, are CPSC 432, CPSC 357, and glibc2.5 or later." alt="Dependencies">
<p class="center"><a href="http://xkcd.com/754/">xkcd # 754</a></p>

<h4>Abstraction</h4><!-- xkcd -->
<img class="stretch" src="http://imgs.xkcd.com/comics/abstraction.png" title="If I&#39;m such a god, why isn&#39;t Maru *my* cat?" alt="Abstraction">
<p class="center"><a href="http://xkcd.com/676/">xkcd # 676</a></p>

<h4>Security</h4><!-- xkcd -->
<img class="stretch" src="http://imgs.xkcd.com/comics/security.png" title="Actual actual reality: nobody cares about his secrets.  (Also, I would be hard-pressed to find that wrench for $5.)" alt="Security">
<p class="center"><a href="http://xkcd.com/538/">xkcd # 538</a></p>

<h4>I'm An Idiot</h4><!-- xkcd -->
<img class="stretch" src="http://imgs.xkcd.com/comics/im_an_idiot.png" title="Sadly, this is a true story.  At least I learned about the OS X &#39;say&#39; command." alt="I&#39;m An Idiot">
<p class="center"><a href="http://xkcd.com/530/">xkcd # 530</a></p>

<h4>Fight</h4><!-- xkcd -->
<img class="stretch" src="http://imgs.xkcd.com/comics/fight.png" title="And she put sweet nothings in all my .conf files.  It&#39;ll take me forever to get X working again." alt="Fight">
<p class="center"><a href="http://xkcd.com/340/">xkcd # 340</a></p>

<h4>Collatz Conjecture</h4><!-- xkcd -->
<img class="stretch" src="http://imgs.xkcd.com/comics/collatz_conjecture.png" title="The Strong Collatz Conjecture states that this holds for any set of obsessively-hand-applied rules." alt="Collatz Conjecture">
<p class="center"><a href="http://xkcd.com/710/">xkcd # 710</a></p>

<h4>Golden Hammer</h4><!-- xkcd -->
<img class="stretch" src="http://imgs.xkcd.com/comics/golden_hammer.png" title="Took me five tries to find the right one, but I managed to salvage our night out--if not the boat--in the end." alt="Golden Hammer">
<p class="center"><a href="http://xkcd.com/801/">xkcd # 801</a></p>

<h4>Success</h4><!-- xkcd -->
<img class="stretch" src="http://imgs.xkcd.com/comics/success.png" title="40% of OpenBSD installs lead to shark attacks.  It&#39;s their only standing security issue." alt="Success">
<p class="center"><a href="http://xkcd.com/349/">xkcd # 349</a></p>

<h4>Westley's a D*ck</h4><!-- xkcd -->
<img class="stretch" src="http://imgs.xkcd.com/comics/westleys_a_dick.png" title="Inigo/Buttercup 4eva &lt;3" alt="Westley&#39;s a Dick">
<p class="center"><a href="http://xkcd.com/549/">xkcd # 549</a></p>

<h4>Ballmer Peak</h4><!-- xkcd -->
<img class="stretch" src="http://imgs.xkcd.com/comics/ballmer_peak.png" title="Apple uses automated schnapps IVs." alt="Ballmer Peak">
<p class="center"><a href="http://xkcd.com/323/">xkcd # 323</a></p>

<h4>Devotion to Duty</h4><!-- xkcd -->
<img class="stretch" src="http://imgs.xkcd.com/comics/devotion_to_duty.png" title="The weird sense of duty really good sysadmins have can border on the sociopathic, but it&#39;s nice to know that it stands between the forces of darkness and your cat blog&#39;s servers." alt="Devotion to Duty">
<p class="center"><a href="http://xkcd.com/705/">xkcd # 705</a></p>

<h4>Black Hat Support</h4><!-- xkcd -->
<img class="stretch" src="http://imgs.xkcd.com/comics/black_hat_support.png" title="So as not to leave you hanging -- it was a problem with select() calls." alt="Black Hat Support">
<p class="center"><a href="http://xkcd.com/278/">xkcd # 278</a></p>

<h4>The Economic Argument</h4><!-- xkcd -->
<img class="stretch" src="http://imgs.xkcd.com/comics/the_economic_argument.png" title="Not to be confused with &#39;making money selling this stuff to OTHER people who think it works&#39;, which corporate accountants and actuaries have zero problems with." alt="The Economic Argument">
<p class="center"><a href="http://xkcd.com/808/">xkcd # 808</a></p>

<h4>Tar</h4><!-- xkcd -->
<img class="stretch" src="http://imgs.xkcd.com/comics/tar.png" title="I don&#39;t know what&#39;s worse--the fact that after 15 years of using tar I still can&#39;t keep the flags straight, or that after 15 years of technological advancement I&#39;m still mucking with tar flags that were 15 years old when I started." alt="tar">
<p class="center"><a href="http://xkcd.com/1168/">xkcd # 1168</a></p>

<h4>Single Ladies</h4><!-- xkcd -->
<img class="stretch" src="http://imgs.xkcd.com/comics/single_ladies.png" title="Using a ring to bind someone you covet into your dark and twisted world? Wow, just got the subtext there. Also, the apparently eager Beyonc&eacute; would&#39;ve made one badass Nazg&ucirc;l." alt="Single Ladies">
<p class="center"><a href="http://xkcd.com/712/">xkcd # 712</a></p>

<h4>Electric Skateboard</h4><!-- xkcd -->
<img class="stretch" src="http://imgs.xkcd.com/comics/electric_skateboard_double_comic.png" title="Unsafe vehicles, hills, and philosophy go hand in hand." alt="Electric Skateboard (Double Comic)">
<p class="center"><a href="http://xkcd.com/409/">xkcd # 409</a></p>

<h4>The Important Field</h4><!-- xkcd -->
<img class="stretch" src="http://imgs.xkcd.com/comics/the_important_field.png" title="I hear in some places, you need one form of ID to buy a gun, but two to pay for it by check. It&#39;s interesting who has what incentives to care about what mistakes." alt="The Important Field">
<p class="center"><a href="http://xkcd.com/970/">xkcd # 970</a></p>

<h4>Dress Color</h4><!-- xkcd -->
<img class="stretch" src="http://imgs.xkcd.com/comics/dress_color.png" title="This white-balance illusion hit so hard because it felt like someone had been playing through the Monty Hall scenario and opened their chosen door, only to find there was unexpectedly disagreement over whether the thing they&#39;d revealed was a goat or a car." alt="Dress Color">
<p class="center"><a href="http://xkcd.com/1492/">xkcd # 1492</a></p>

<h4>Academia vs. Business</h4><!-- xkcd -->
<img class="stretch" src="http://imgs.xkcd.com/comics/academia_vs_business.png" title="Some engineer out there has solved P=NP and it&#39;s locked up in an electric eggbeater calibration routine.  For every 0x5f375a86 we learn about, there are thousands we never see." alt="Academia vs. Business">
<p class="center"><a href="http://xkcd.com/664/">xkcd # 664</a></p>

<h4>Real Programmers</h4><!-- xkcd -->
<img class="stretch" src="http://imgs.xkcd.com/comics/real_programmers.png" title="Real programmers set the universal constants at the start such that the universe evolves to contain the disk with the data they want." alt="Real Programmers">
<p class="center"><a href="http://xkcd.com/378/">xkcd # 378</a></p>

<h4>Surgery</h4><!-- xkcd -->
<img class="stretch" src="http://imgs.xkcd.com/comics/surgery.png" title="Damn. Not only did he not install it, he sutured a &#39;Vista-Ready&#39; sticker onto my arm." alt="Surgery">
<p class="center"><a href="http://xkcd.com/644/">xkcd # 644</a></p>

<h4>Sandwich</h4><!-- xkcd -->
<img class="stretch" src="http://imgs.xkcd.com/comics/sandwich.png" title="Proper User Policy apparently means Simon Says." alt="Sandwich">
<p class="center"><a href="http://xkcd.com/149/">xkcd # 149</a></p>

<h4>Bug</h4><!-- xkcd -->
<img class="stretch" src="http://imgs.xkcd.com/comics/bug.png" title="The universe started in 1970.  Anyone claiming to be over 38 is lying about their age." alt="Bug">
<p class="center"><a href="http://xkcd.com/376/">xkcd # 376</a></p>

<h4>Science Valentine</h4><!-- xkcd -->
<img class="stretch" src="http://imgs.xkcd.com/comics/science_valentine.png" title="You don&#39;t use science to show that you&#39;re right, you use science to become right." alt="Science Valentine">
<p class="center"><a href="http://xkcd.com/701/">xkcd # 701</a></p>

<h4>Compiling</h4><!-- xkcd -->
<img class="stretch" src="http://imgs.xkcd.com/comics/compiling.png" title="&#39;Are you stealing those LCDs?&#39; &#39;Yeah, but I&#39;m doing it while my code compiles.&#39;" alt="Compiling">
<p class="center"><a href="http://xkcd.com/303/">xkcd # 303</a></p>

<h4>e to the pi Minus pi</h4><!-- xkcd -->
<img class="stretch" src="http://imgs.xkcd.com/comics/e_to_the_pi_minus_pi.png" title="Also, I hear the 4th root of (9^2 + 19^2/22) is pi." alt="e to the pi Minus pi">
<p class="center"><a href="http://xkcd.com/217/">xkcd # 217</a></p>

<h4>Can't Sleep</h4><!-- xkcd -->
<img class="stretch" src="http://imgs.xkcd.com/comics/cant_sleep.png" title="If androids someday DO dream of electric sheep, don&#39;t forget to declare sheepCount as a long int." alt="Can&#39;t Sleep">
<p class="center"><a href="http://xkcd.com/571/">xkcd # 571</a></p>

<h4>Code Talkers</h4><!-- xkcd -->
<img class="stretch" src="http://imgs.xkcd.com/comics/code_talkers.png" title="As far as I can tell, Navajo doesn&#39;t have a common word for &#39;zero&#39;.  do-neh-lini means &#39;neutral&#39;." alt="Code Talkers">
<p class="center"><a href="http://xkcd.com/257/">xkcd # 257</a></p>

<h4>RPS</h4><!-- xkcd -->
<img class="stretch" src="http://imgs.xkcd.com/comics/rps.png" title="It looks good, but it needs more postfixins." alt="RPS">
<p class="center"><a href="http://xkcd.com/645/">xkcd # 645</a></p>

<h4>Cautionary</h4><!-- xkcd -->
<img class="stretch" src="http://imgs.xkcd.com/comics/cautionary.png" title="This really is a true story, and she doesn&#39;t know I put it in my comic because her wifi hasn&#39;t worked for weeks." alt="Cautionary">
<p class="center"><a href="http://xkcd.com/456/">xkcd # 456</a></p>

<h4>Forgetting</h4><!-- xkcd -->
<img class="stretch" src="http://imgs.xkcd.com/comics/forgetting.png" title="Of course, the assert doesn&#39;t work." alt="Forgetting">
<p class="center"><a href="http://xkcd.com/379/">xkcd # 379</a></p>

<h4>Compiler Complaint</h4><!-- xkcd -->
<img class="stretch" src="http://imgs.xkcd.com/comics/compiler_complaint.png" title="Checking whether build environment is sane ... build environment is grinning and holding a spatula.  Guess not." alt="Compiler Complaint">
<p class="center"><a href="http://xkcd.com/371/">xkcd # 371</a></p>

<h4>Pointers</h4><!-- xkcd -->
<img class="stretch" src="http://imgs.xkcd.com/comics/pointers.png" title="Every computer, at the unreachable memory address 0x-1, stores a secret.  I found it, and it is that all humans ar-- SEGMENTATION FAULT." alt="Pointers">
<p class="center"><a href="http://xkcd.com/138/">xkcd # 138</a></p>

<h4>Goto</h4><!-- xkcd -->
<img class="stretch" src="http://imgs.xkcd.com/comics/goto.png" title="Neal Stephenson thinks it&#39;s cute to name his labels &#39;dengo&#39;" alt="goto">
<p class="center"><a href="http://xkcd.com/292/">xkcd # 292</a></p>

<h4>Donald Knuth</h4><!-- xkcd -->
<img class="stretch" src="http://imgs.xkcd.com/comics/donald_knuth.png" title="His books were kinda intimidating; rappelling down through his skylight seemed like the best option." alt="Donald Knuth">
<p class="center"><a href="http://xkcd.com/163/">xkcd # 163</a></p>

<h4>Good Code</h4><!-- xkcd -->
<img class="stretch" src="http://imgs.xkcd.com/comics/good_code.png" title="You can either hang out in the Android Loop or the HURD loop." alt="Good Code">
<p class="center"><a href="http://xkcd.com/844/">xkcd # 844</a></p>
